<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Users</h1>
<div>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Age</th>
      <th>Email</th>
    </tr>

    <tr th:each="user: ${allUsers}">
      <td th:utext="${user.getId()}"></td>
      <td th:utext="${user.getFirst_name()()}"></td>
      <td th:utext="${user.getLast_name()()}"></td>
      <td th:utext="${user.getBirthday()()}"></td>
      <td th:utext="${user.getEmail()}"></td>
      <td><a th:href="@{users/{id}/edit (id = ${user.getId()})}">Edit</a></td>
      <td>
        <form th:method="DELETE" th:action="@{users/{id}/delete (id=${user.getId()})}">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  </table>
  <br/>
  <a href="users/new">Create user</a>
</div>
</body>
</html>